/* You can add global styles to this file, and also import other style files */
@font-face {

font-family: 'RobotoThin';
src : url(../fonts/Roboto-Thin.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoRegular';
src : url(../fonts/Roboto-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoMedium';
src : url(../fonts/Roboto-Medium.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoLight';
src : url(../fonts/Roboto-Light.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoBold';
src : url(../fonts/Roboto-Bold.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoBlack';
src : url(../fonts/Roboto-Black.ttf) format('truetype');

}

@font-face {

font-family: 'Pacific';
src : url(../fonts/pacific.ttf) format('truetype');

}

@font-face {

font-family: 'Quicksand';
src : url(../fonts/Quicksand.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoThin';
src : url(../fonts/Roboto-Thin.ttf) format('truetype');

}

@font-face {

font-family: 'InconsolataBold';
src : url(../fonts/inconsolata-bold.ttf) format('truetype');

}

@font-face {

font-family: 'Inconsolata';
src : url(../fonts/Inconsolata-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'Indie';
src : url(../fonts/indieflower.ttf) format('truetype');

}

@font-face {

font-family: 'Inter';
src : url(../fonts/Inter.ttf) format('truetype');

}

@font-face {

font-family: 'ComicRegular';
src : url(../fonts/ComicNeue-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'ComicBold';
src : url(../fonts/ComicNeue-Bold.ttf) format('truetype');

}

@font-face {

font-family: 'ComicLight';
src : url(../fonts/ComicNeue-Light.ttf) format('truetype');

}

@font-face {

font-family: 'ComicRegular';
src : url(../fonts/ComicNeue-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'Hind';
src : url(../fonts/Hind/Hind-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'HindBold';
src : url(../fonts/Hind/Hind-Bold.ttf) format('truetype');

}

@font-face {

font-family: 'Josefin';
src : url(../fonts/Jose/JosefinSans-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'JosefinLight';
src : url(../fonts/Jose/JosefinSans-Light.ttf) format('truetype');

}

@font-face {

font-family: 'JosefinThin';
src : url(../fonts/Jose/JosefinSans-Thin.ttf) format('truetype');

}

@font-face {

font-family: 'LatoLight';
src : url(../fonts/Lato/Lato-Light.ttf) format('truetype');

}

@font-face {

font-family: 'Lato';
src : url(../fonts/Lato/Lato-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'LatoBlack';
src : url(../fonts/Lato/Lato-Black.ttf) format('truetype');

}

@font-face {

font-family: 'Dosis';
src : url(../fonts/Dosis/Dosis-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'DosisSemi';
src : url(../fonts/Dosis/Dosis-SemiBold.ttf) format('truetype');

}

@font-face {

font-family: 'DosisLight';
src : url(../fonts/Dosis/Dosis-Light.ttf) format('truetype');

}

@font-face {

font-family: 'Libre';
src : url(../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf) format('truetype');

}

* {

	font-family : 'RobotoRegular';
	font-size : 100%;
	box-sizing : border-box;
	margin : 0;
	border : 0;
	padding : 0;
	text-decoration : none;
	border-collapse : collapse;
}

.container {

	width : 96%;
	margin : 0px auto;
	line-height : 2.5em;
}

#footer p {

	font-size : 12px;
	font-family:  Arial;
	text-align : center;
}

.cr-entry {

	width : 80%;
	margin : 0px auto;
	padding : 0.87847730600292825768667642752562%;
}

.logo {

margin : 0px auto;
width : 20%;
}

.logo img {

width : 120px;
height : 120px;
}

h1 {

	text-align : left;
}

h1 , h2 , h3 {

	margin : 20px 0px 10px;
	font-family : 'Libre';
}

p , label , b , i , span , select {

	line-height : 2.5em;
	font-size : 13px;
}


small b {

	font-size : 11px;
}


div.cr-set-app-review {

	width : 70%;
	margin : 0px auto 0px;
	padding : 1.3577663385963751033175323275679% 2.0366495078945626549762984913519%;
}

div.cr-set-app-review p {

	text-align : center;
	margin : 10px auto 10px;
}

div.cr-set-app-review p a {

	display : inline-block;
	width : 100%;
	padding : 0% 2.9340879234504911474798498165083%;
	background-color : #5d265f;
	border : 2px solid #ac4bd8;
	color : #929292;
	border-radius : 6px;
}

.form {

	width : 95%;
	margin : 0.67226890756302521008403361344538% auto;
	overflow : hidden;
}

.form textarea.cr-message-box {

	width : 100%;
	resize : none;
	height : 235px;
	border-radius : 6px;
	line-height : 2.0em;
}

.form label , input {

	display : block;
	margin : 5px 0 10px;
}

.form input {

	width : 100%;
}

.form label {

	padding-left : 10px;
	font-weight : bold;
	font-family : 'RobotoBold';
}

.form input[type=text] , .form textarea {

	border : 2px solid #ac4bd8;
	padding : 10px;
}

.form input[type=text] {

	border-radius : 6px;
	padding : 8px;
}

.form textarea:hover {

	border : 2px solid #4e1269;
}

.form button {

	float : right;
	margin-right : 0.15432098765432098765432098765432%;
	padding : 0.61728395061728395061728395061728% 2.9340879234504911474798498165083%;
	background-color : #5d265f;
	border : 2px solid #ac4bd8;
	font-size : small;
	color : white;
	border-radius : 6px;
}

.form button:hover {

	background-color : #4e1269;
	color : white;
}

.form-group {

	margin-bottom : 0.67226890756302521008403361344538%;
}

.form .form-group select {

	width : 100%;
	border : 2px solid #ac4bd8;
	border-radius : 6px;
	height : 35px;
	padding-left : 10px;
}

.form-group p {

	clear : both;
}

.comment-author {

	color : #007bff;
}

.comment {

	border-bottom : 1px solid lightblue;
	padding : 10px;
	border-radius : 8px;
}

.replies {

	margin-left : 30px;
}

.comment:hover {

	background-color : #fdfdfd;
}

.reply {

	margin-top : 20px;
}

.comment p {

	line-height : 2.0;
	font-size : 12px !important;
}

.comment p.author {

	font-weight : normal;
}

.comment .timestamp {

	font-style : italic;
	margin-left : 2em;
	font-size : 10px !important;
}

.comment p.text small a {

	margin-left : 10px;
}

.comment-add h2 , .reply-add h2 {

	margin-top : 10px;
}

.comment-add textarea {

	border : 1px solid #eae8e8;
	border-radius : 4px;
}


@media screen and (max-width : 240px) {

.photo-item-photo {

	float : none;
	width : 100%;
	margin : 0px auto 10px;
	height : 150px;
}

.breadcrumb , #nav ul {

	padding : 10px 0px 0px;
}

.ethnic-list .ethnic-list-item , .country-list .country-list-item {

	float : none;
	width : 100%;
}

.name-item {

	float : none;
	width : 100%;
	margin : 0 0 2% 0;
	padding : 1%;
	height : 100%;
}

}


@media screen and (min-width : 0px) and (max-width : 440px) {

.name-item {

	float : none;
	width : 100%;
	margin : 0 0 2% 0;
	padding : 1%;
	height : 100%;
}

}

@media screen and (max-width : 640px) {

	#header h1 {

		float : none;
		width : 100%;
	}

	#nav {

		float : none;
		width : 100%;
	}

	#nav ul {

		float : none;
	}

	.photo-list {

		overflow : auto; 
	}

	.photo-item {

		float : none;
		width : 100%;
		height : 100%;
		margin : 0 0 10px 0;
	}

} 

@media screen and (min-width : 440px) and (max-width : 840px) {

.name-item {

	float : left;
	width : 47%;
	overflow : hidden; 
	margin : 0 0 2% 0;
	padding : 1%;
	height : 120px;
}


} 

@media screen and (min-width : 240px) and (max-width : 780px) {

.ethnic-list .ethnic-list-item , .country-list .country-list-item {

	float : left;
	width : 48%;
}

}

@media screen and (min-width : 780px) and (max-width : 1100px)  {

.ethnic-list .ethnic-list-item , .country-list .country-list-item {

	float : left;
	width : 32%;
}

} 

@media screen and (min-width : 640px) and (max-width : 1000px) {

	.photo-item {

		float : left;
		width : 48%;
		height : 400px;
		margin : 0 0 10px 0;
	}

}  