/* You can add global styles to this file, and also import other style files */
@font-face {

font-family: 'RobotoThin';
src : url(../fonts/Roboto-Thin.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoRegular';
src : url(../fonts/Roboto-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoMedium';
src : url(../fonts/Roboto-Medium.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoLight';
src : url(../fonts/Roboto-Light.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoBold';
src : url(../fonts/Roboto-Bold.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoBlack';
src : url(../fonts/Roboto-Black.ttf) format('truetype');

}

@font-face {

font-family: 'Pacific';
src : url(../fonts/pacific.ttf) format('truetype');

}

@font-face {

font-family: 'Quicksand';
src : url(../fonts/Quicksand.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoThin';
src : url(../fonts/Roboto-Thin.ttf) format('truetype');

}

@font-face {

font-family: 'InconsolataBold';
src : url(../fonts/inconsolata-bold.ttf) format('truetype');

}

@font-face {

font-family: 'Inconsolata';
src : url(../fonts/Inconsolata-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'Indie';
src : url(../fonts/indieflower.ttf) format('truetype');

}

@font-face {

font-family: 'Inter';
src : url(../fonts/Inter.ttf) format('truetype');

}

@font-face {

font-family: 'ComicRegular';
src : url(../fonts/ComicNeue-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'ComicBold';
src : url(../fonts/ComicNeue-Bold.ttf) format('truetype');

}

@font-face {

font-family: 'ComicLight';
src : url(../fonts/ComicNeue-Light.ttf) format('truetype');

}

@font-face {

font-family: 'ComicRegular';
src : url(../fonts/ComicNeue-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'Hind';
src : url(../fonts/Hind/Hind-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'HindBold';
src : url(../fonts/Hind/Hind-Bold.ttf) format('truetype');

}

@font-face {

font-family: 'Josefin';
src : url(../fonts/Jose/JosefinSans-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'JosefinLight';
src : url(../fonts/Jose/JosefinSans-Light.ttf) format('truetype');

}

@font-face {

font-family: 'JosefinThin';
src : url(../fonts/Jose/JosefinSans-Thin.ttf) format('truetype');

}

@font-face {

font-family: 'LatoLight';
src : url(../fonts/Lato/Lato-Light.ttf) format('truetype');

}

@font-face {

font-family: 'Lato';
src : url(../fonts/Lato/Lato-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'LatoBlack';
src : url(../fonts/Lato/Lato-Black.ttf) format('truetype');

}

@font-face {

font-family: 'Dosis';
src : url(../fonts/Dosis/Dosis-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'DosisSemi';
src : url(../fonts/Dosis/Dosis-SemiBold.ttf) format('truetype');

}

@font-face {

font-family: 'DosisLight';
src : url(../fonts/Dosis/Dosis-Light.ttf) format('truetype');

}

@font-face {

font-family: 'Libre';
src : url(../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf) format('truetype');

}

* {

	font-family : 'RobotoRegular';
	font-size : 100%;
	box-sizing : border-box;
	margin : 0;
	border : 0;
	padding : 0;
	text-decoration : none;
	border-collapse : collapse;
}

.container {

	width : 92%;
	margin : 0px auto;
	line-height : 2.0em;
	padding : 10px;
	border : 2px solid black;
}

.logo {

margin : 0px auto;
width : 20%;
}

.logo img {

width : 120px;
height : 120px;
}

hr {

	border : 0.5px solid purple;
}

h1 {

	font-family : 'Libre';
}

p , li {

	font-size : 13px;
}

b {

	font-family : 'RobotoBold';
}

.profile {

	border : 2px solid black;
	overflow : hidden;
	padding-left : 10px;
}

.course-registration-entries ul {

	list-style-position : outside;
	margin-left : 10px;
}

.course-registration-entries .course-registration-item {

	clear : both;
}

.profile-option {

	font-size : small;
	border : 2px solid black;
}

div.profile-option a {

	display : inline-block;
	margin-right : 0.15432098765432098765432098765432%;
	width : 90%;
	padding : 0.61728395061728395061728395061728% 3.9340879234504911474798498165083%;
	background-color : #5d265f;
	line-height : 1.0em;
	border : 2px solid #ac4bd8;
	font-size : smaller;
	color : white;
	border-radius : 6px;

}

div.view-timeline {

	overflow : hidden;
}

.course-registration-item {

	margin-bottom : 1.4825796886582653817642698295033%;
}

.course-registration-item hr {

	margin-top : 1.4825796886582653817642698295033%;
}

.profile-option {

	float : right;
}