@font-face {

font-family: 'RobotoRegular';
src : url(../../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {

font-family: 'RobotoBold';
src : url(../../fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {

font-family: 'Libre';
src : url(../../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf) format('truetype');
}

* {

	font-family : 'RobotoRegular';
	font-size : 100%;
	margin : 0;
	border : 0;
	padding : 0;
	box-sizing : border-box;
	text-decoration : none;
	border-collapse : collapse;
	background-color : transparent;
}

p , i , li , td , th , span , label , input , textarea , select {

	font-size : 13px;
}

b {

	font-family : 'RobotoBold';
}

a {

	text-align : center;
}

a , b , button {

	font-size : 11px;
}


h1 , h2 , h3 , h4 , h5 , h6 {

	font-family : 'Libre';
}

h1 {

	font-size : 18px;
}

h2 {

	font-size : 16px;
}

h3 {

	font-size : 14px;
}

#container {

	width : 96%;
	margin : 0px auto;
}

#logo {

	width : 100%;	
	margin : 0px auto 10px;
	min-width : 120px;
	max-width : 120px;
}

#logo img {

	width : 120px;
	height : 120px;
}

#nav ul {

	list-style-type : none;
}

#nav ul li {

	display : inline-block;
	width : 150px;
	margin-right : 20px;
	border-radius : 12px 0px 12px 0px;
	background-color : #290140;
}

#nav ul li:hover {

	background-color : #210140;	
}

#nav li a {

	display : inline-block;
	padding : 10px;
	width : 100%;
	color : #fff;
}

#main {

	background-image : url('../../images/comp.png');
	background-repeat : no-repeat;
	background-position : 50% 40%;
	opacity : 1;
	padding : 5px;
}

#main h1 , #main h2 , #main h3 {

	margin : 20px 0px 10px;
}

#footer p {

	font-size : 12px;
	text-align : center;
}

#entries table {

	width : 1250px;
	overflow : auto;
	margin : 0px auto;
}

#entries table caption {

	text-align : center;
	margin: 10px 0px;
	font-size : 13px;
	font-weight : bold;
	font-family : 'RobotoBold';
}

table a.request-view-button {

	border : 1.5px solid #ac4bd8;
	border-radius : 10px;
	background-color : #290140;
	line-height : 2.5em;
	color : #a0a7a0;
	width : 75%;
	display : inline-block;
	text-align : center;
}

table a.request-view-button:hover {

	color : #fff;
	background-color : #210140;
}

#entries table thead th:first-child {

	width : 20%;
}

table colgroup {

	width : 13%;
}

#entries td b {

	font-size : 81.25%;
}

table td , th {

	line-height : 2.0em;
	text-align : center;
	padding : 8px 0px;
}	

tr:hover {

	background-color : #fbfaf8;
}

#repsp-entry {

	width : 96%;
	margin : 15px auto;
}

#repsp-entry p , #repsp-entry li , #repsp-entry textarea , #repsp-request p , #repsp-request textarea {

	line-height : 2.5em;
}

#entry-detail-options {

	width : 70%;
	margin : 5px auto 0px;
	padding : 0.62929018584197768285284930010346% 2.0366495078945626549762984913519%;
}

#entry-detail-options a , button.btn-submit {

	display : block;
	width : 100%;
	margin : 10px auto 0px;
	line-height : 2.0em;
	padding : 0% 2.9340879234504911474798498165083%;
	background-color : #290140;
	border : 1.5px solid #ac4bd8;
	color : #a0a7a0;
	border-radius : 6px;
}

#entry-detail-options a:hover , button.btn-submit:hover {

	color : #fff;
	background-color : #210140;
}

#entry-detail-form , #request-form {

	width : 80%;
	margin : 0px auto;
	padding : 5px 10px;
}

#entry-detail-form h3 {

	text-align : center;
}

ul.errors , #guidelines ul {

	margin-left : 30px;
}

ul.errors li , #guidelines ul li {

	line-height : 2.0em;
}

#entry-detail-form label , #request-form label {

	display : block;
	margin-bottom : 5px;
	padding-left : 10px;
	font-family : 'RobotoBold';
	font-weight : bold;
}

#entry-detail-form .form-group , #request-form .form-group {

	margin : 20px 0px;
}

#entry-detail-form select , #entry-detail-form input , #entry-detail-form textarea , #request-form select , #request-form textarea {

	width : 100%;
	border : 2px solid #3d0398;
	padding : 5px;
	color : #290140;
	border-radius : 4px;
}

#entry-detail-form textarea , #request-form textarea {

	height : 120px;
	resize : none;
}

#entry-detail-form button:hover , #request-form button:hover {

	color : #fff;
}

#entries > p {

	margin-top : 30px;
}

#entries thead th {

	font-family : 'RobotoBold';
	font-size : 13px;
	font-weight : bold;
}

#entry-details-attachment > p {

	clear : both;
}

#entry-details-attachment {

	overflow : hidden;
}

#entry-details-attachment ul {

	margin-left : 2%;
}

.photo-item {

	width : 20%;
	float : left;
	padding : 1%;
	margin-right : 1.5%;
	height : 210px;
	padding : 1%;
	overflow : hidden;
	opacity : 0.5;
}

.photo-item:hover {

	opacity : 1;
}

.photo-item img , .list-video-item img , .list-sound-item img {

	width : 100%;
	height : 150px;
	max-width : 150px;
}

.photo-item-photo {

	width : 150px;
	height : 150px;
}

.photo-item a.entry-attachment {

	width : 100%;
	margin : 10px auto 0px;
	line-height : 2.0em;
	padding : 0% 2.9340879234504911474798498165083%;
	background-color : #290140;
	border : 1.5px solid #ac4bd8;
	color : #a0a7a0;
	border-radius : 6px;
}

form button {

	line-height : 2.0em;
	background-color : #3b0956;
	border : 1.5px solid #ac4bd8;
	color : #929292;
	border-radius : 12px 6px 12px 6px;
	text-align : center;
	font-size : 11px;
}

button.btn-upload  {

	display : block;
	width : 90%;
}

button.btn-options  {

	margin-right : 10px;
	width : 120px;
}

#file-upload-1 button , #file-upload-2 button , #file-upload-3 button , #file-upload-4 button {

	margin : 5px;
}

#upload {

	cursor : pointer;
}

#btn-add-file-1 , #btn-add-file-2 , #btn-add-file-3 , #btn-add-file-4 {

	display : none;
	cursor : pointer;
}

#btn-del-file-1 , #btn-del-file-2 , #btn-del-file-3 , #btn-del-file-4 {

	display : none;
	cursor : pointer;
}

#btn-can-file-1 , #btn-can-file-2 , #btn-can-file-3 , #btn-can-file-4 {

	display : none;
	cursor : pointer;
}

#uploadError , #uploadError1 , #uploadText {

	margin : 5px 0px;
}

#upload-progress {

	margin : 5px 0px;
	padding-right : 5px;
	border-radius : 8px;
	display : none;
}

#upload-progress .progress-bar {

	background-color : lightgreen;
	margin-right : 5px;
}

.uploadMessage {

	display : none;
}

.btn-info , .btn-add-file-1 , .btn-del-file-1 , .btn-can-file-1 {

	display : block;
	margin-right : 0.5em;
}

.disabled {

	background-color : #171417;
	color : white;
	margin-right : 0.5em;
	display : block;
	width : 120px;
	padding : 0% 2.9340879234504911474798498165083%;
	color : #929292;
}

button.btn-search {

	text-align : center;
	display : block;
	font-size : 11px;
	width : 65%;
	margin : 10px auto 0px;
	line-height : 2.0em;
	padding : 0% 2.9340879234504911474798498165083%;
	background-color : #290140;
	color : #a0a7a0;
	border : 1.5px solid #ac4bd8;
	border-radius : 6px;
}

button.btn-search:hover {

	color : #fff;
	background-color : #210140;
}

.search-bar input , .search-bar select {

	width : 50%;
	display : block;
	padding : 5px 10px;
	border : 2px solid #3d0398;
	border-radius : 5px;
	margin: 10px auto;
}

.search-bar h4 {

	text-align : center;
	font-size : 13px;
}

table a.pagination {

	border : 2px solid #ac4bd8;
	border-radius : 10px;
	background-color : #290140;
	line-height : 2.0em;
	color : #a0a7a0;
	width : 25%;
	padding : 2px 0px;
	display : block;
	margin : 0px auto;
	text-align : center;
	font-size : 11px;
}

tfoot td a , tfoot form button {

	text-align : center;
	display : block;
	font-size : 11px;
	width : 100%;
	margin : 10px auto 0px;
	line-height : 2.0em;
	padding : 0% 2.9340879234504911474798498165083%;
	background-color : #290140;
	color : #a0a7a0;
	border : 1.5px solid #ac4bd8;
	border-radius : 6px;
}

.next {

	float : right;
	width : 21% !important;
}

.prev {

	float : left;
}

tfoot {

	margin-top : 20px;
}

table a.request-view-button:hover , table a.page-number-button:hover , tfoot td a:hover {

	color : #fff;
	background-color : #210140;
}

@media screen and (max-width : 480px) {

	#entry-detail-form , #request-form {

		width : 100%;
	}
}

@media screen and (max-width : 640px) {

	#entry-detail-form , #request-form {

	width : 100%;
	margin : 0px auto;
	padding : 5px 10px;
}

	#entry-detail-options {

	width : 100%;
	margin : 5px auto 0px;
	padding : 0.62929018584197768285284930010346% 2.0366495078945626549762984913519%;
}

}

@media screen and (max-width : 740px) {

	.photo-item {

	width : 45%;
	float : left;
	padding : 1%;
	height : 210px;
	padding : 1%;
	overflow : hidden;
}

}

@media screen and (min-width : 740px) {

	.photo-item {

	width : 20%;
	float : left;
	padding : 1%;
	height : 210px;
	padding : 1%;
	overflow : hidden;
}

}

@media screen and (max-width : 900px) {

	#nav ul li {

		display : block;
		width : 100%;
		text-align : left;
		margin-top : 10px;
	}

	#nav ul li a {

		text-align : left;
	}
}

