/* You can add global styles to this file, and also import other style files */
@font-face {

font-family: 'RobotoThin';
src : url(../fonts/Roboto-Thin.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoRegular';
src : url(../fonts/Roboto-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoMedium';
src : url(../fonts/Roboto-Medium.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoLight';
src : url(../fonts/Roboto-Light.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoBold';
src : url(../fonts/Roboto-Bold.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoBlack';
src : url(../fonts/Roboto-Black.ttf) format('truetype');

}

@font-face {

font-family: 'Pacific';
src : url(../fonts/pacific.ttf) format('truetype');

}

@font-face {

font-family: 'Quicksand';
src : url(../fonts/Quicksand.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoThin';
src : url(../fonts/Roboto-Thin.ttf) format('truetype');

}

@font-face {

font-family: 'InconsolataBold';
src : url(../fonts/inconsolata-bold.ttf) format('truetype');

}

@font-face {

font-family: 'Inconsolata';
src : url(../fonts/Inconsolata-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'Indie';
src : url(../fonts/indieflower.ttf) format('truetype');

}

@font-face {

font-family: 'Inter';
src : url(../fonts/Inter.ttf) format('truetype');

}

@font-face {

font-family: 'ComicRegular';
src : url(../fonts/ComicNeue-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'ComicBold';
src : url(../fonts/ComicNeue-Bold.ttf) format('truetype');

}

@font-face {

font-family: 'ComicLight';
src : url(../fonts/ComicNeue-Light.ttf) format('truetype');

}

@font-face {

font-family: 'ComicRegular';
src : url(../fonts/ComicNeue-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'Hind';
src : url(../fonts/Hind/Hind-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'HindBold';
src : url(../fonts/Hind/Hind-Bold.ttf) format('truetype');

}

@font-face {

font-family: 'Josefin';
src : url(../fonts/Jose/JosefinSans-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'JosefinLight';
src : url(../fonts/Jose/JosefinSans-Light.ttf) format('truetype');

}

@font-face {

font-family: 'JosefinThin';
src : url(../fonts/Jose/JosefinSans-Thin.ttf) format('truetype');

}

@font-face {

font-family: 'LatoLight';
src : url(../fonts/Lato/Lato-Light.ttf) format('truetype');

}

@font-face {

font-family: 'Lato';
src : url(../fonts/Lato/Lato-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'LatoBlack';
src : url(../fonts/Lato/Lato-Black.ttf) format('truetype');

}

@font-face {

font-family: 'Dosis';
src : url(../fonts/Dosis/Dosis-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'DosisSemi';
src : url(../fonts/Dosis/Dosis-SemiBold.ttf) format('truetype');

}

@font-face {

font-family: 'DosisLight';
src : url(../fonts/Dosis/Dosis-Light.ttf) format('truetype');

}

@font-face {

font-family: 'Libre';
src : url(../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf) format('truetype');

}

* {

	font-family : 'RobotoRegular';
	font-size : 100%;
	box-sizing : border-box;
	margin : 0;
	border : 0;
	padding : 0;
	text-decoration : none;
	border-collapse : collapse;
}

.cr-entries {

	margin : 0px auto;
	padding : 0.87847730600292825768667642752562%;
}

.logo {

margin : 0px auto;
width : 20%;
}

.logo img {

width : 120px;
height : 120px;
}

p , td , th , a , b , small , i , span  {

	line-height : 2.5em;
	font-size : 12px;
}

small b {

	font-size : 10px;
}

h1 , h2 , h3 {

	margin : 20px 0px 10px;
	font-family : 'Libre';
}


table {

	width : 1300px;
	margin : 40px auto 0px;
	border-collapse: collapse;
	overflow : auto;
}

table caption {

	margin: 10px 0px;
	padding-left : 2%;
	text-align : left;
	font-size : 13px;
	font-weight : bold;
	font-family : 'RobotoBold';
}

thead th {

	font-family : 'RobotoBold';
	font-weight : bold;
	text-align : center;
}

table th:first-child {

	width : 20%;
}

table th , td {

	padding : 15px 20px;
	text-align : center;
}

tr:hover {

	background-color : #fdfdfd;
}

table a.request-view-button {

	text-decoration : none;
	border : 2px double #ac4bd8;
	border-radius : 6px;
	background-color : #61186d;
	color : #a0a7a0;
	width : 100%;
	margin : 0px auto;
	padding : 2px 30px;
	display : block;
	text-align : center;
	font-size : 11px;
}

table a.request-view-button:hover {

	color : #fff;
	background-color : #4e1269;
	border : 2px double #ac4bd8;
}

table col {

	width : 15%;
}