@font-face {

font-family: 'RobotoRegular';
src : url(../../fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {

font-family: 'RobotoBold';
src : url(../../fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {

font-family: 'Libre';
src : url(../../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf) format('truetype');
}

* {

	font-family : 'RobotoRegular';
	font-size : 100%;
	margin : 0;
	border : 0;
	padding : 0;
	box-sizing : border-box;
	text-decoration : none;
	border-collapse : collapse;
	background-color : transparent;
}

p , a , b , i , li , td , th , span , label , input , textarea , button , select {

	font-size : 13px;
}

b {

	font-family : 'RobotoBold';
}

h1 , h2 , h3 , h4 , h5 , h6 {

	font-family : 'Libre';
}

h1 {

	font-size : 18px;
}

h2 {

	font-size : 16px;
}

h3 {

	font-size : 14px;
}

#container {

	width : 96%;
	margin : 0px auto;
}

#department-payment , #faculty-payment {

	width : 96%;
	margin : 0px auto;
	padding : 5px 15px;
}

#logo {

	width : 100%;	
	margin : 0px auto 10px;
	min-width : 120px;
	max-width : 120px;
}

#logo img {

	width : 120px;
	height : 120px;
}

#nav ul {

	list-style-type : none;
}

#nav ul li {

	display : inline-block;
	width : 150px;
	margin-right : 20px;
	border-radius : 12px 0px 12px 0px;
	background-color : #4c0258;
	text-align : center;
}

#nav li a {

	display : inline-block;
	padding : 10px;
	width : 100%;
	font-size : 11px;
	color : #fff;
}

#main {

	background-image : url('../../images/comp.png');
	background-repeat : no-repeat;
	background-position : 50% 40%;
	opacity : 1;
	padding : 5px;
}

#main h1 , #main h2 , #main h3 {

	margin : 20px 0px 5px;
}

.description p {

	margin: 10px 0px;
	line-height : 2.5em;
}

#department-payment p , #faculty-payment p , #cr-entry textarea , #cr-timeline p , #cr-request p , #cr-request textarea {

	line-height : 2.5em;
}

#entry-detail-options {

	width : 70%;
	margin : 5px auto 0px;
	padding : 0.62929018584197768285284930010346% 2.0366495078945626549762984913519%;
}

#entry-detail-options a , button.btn-submit {

	text-align : center;
	display : block;
	font-size : 11px;
	width : 100%;
	margin : 10px auto 0px;
	line-height : 2.0em;
	padding : 0% 2.9340879234504911474798498165083%;
	background-color : #5d265f;
	border : 1.5px solid #ac4bd8;
	color : #929292;
	border-radius : 6px;
}

button.btn-search {

	text-align : center;
	display : block;
	font-size : 11px;
	width : 65%;
	margin : 10px auto 0px;
	line-height : 2.0em;
	padding : 0% 2.9340879234504911474798498165083%;
	background-color : #5d265f;
	border : 1.5px solid #ac4bd8;
	color : #929292;
	border-radius : 6px;
}

.search-bar input {

	width : 50%;
	display : block;
	padding : 5px 10px;
	border : 1.5px solid #ac4bd8;
	border-radius : 5px;
	margin: 10px auto;
}

.search-bar h4 {

	text-align : center;
	font-size : 13px;
}

tfoot td a {

	text-align : center;
	display : block;
	font-size : 11px;
	width : 100%;
	margin : 10px auto 0px;
	line-height : 2.0em;
	padding : 0% 2.9340879234504911474798498165083%;
	background-color : #5d265f;
	border : 1.5px solid #ac4bd8;
	color : #929292;
	border-radius : 6px;
}

button.btn-primary  {

	text-align : center;
	font-size : 11px;
	width : 120px;
	line-height : 2.0em;
	padding : 0% 2.9340879234504911474798498165083%;
	border : 1.5px solid #ac4bd8;
	color : #929292;
	border-radius : 6px;
}

button.btn-upload  {

	text-align : center;
	font-size : 11px;
	width : 300px;
	line-height : 2.0em;
	padding : 0% 2.9340879234504911474798498165083%;
	border : 1.5px solid #ac4bd8;
	color : #929292;
	border-radius : 6px;
}

#entry-detail-options a:hover {

	color : white;
}

#dept-payment-form , #faculty-payment-form , #request-form {

	width : 80%;
	margin : 0px auto;
	padding : 5px 10px;
}

#entry-detail-form h3 {

	text-align : center;
}

ul.errors , #guidelines ul {

	margin-left : 30px;
}

ul.errors li , #guidelines ul li {

	line-height : 2.0em;
}

#dept-payment-form label , #faculty-payment-form label #request-form label {

	display : block;
	margin-bottom : 5px;
	padding-left : 10px;
	font-family : 'RobotoBold';
	font-weight : bold;
}

#dept-payment-form .form-group , #faculty-payment-form .form-group {

	margin : 20px 0px;
}

#dept-payment-form select , #dept-payment-form input , #faculty-payment-form select , #faculty-payment-form input {

	width : 100%;
	border : 2px solid #c37be2;
	padding : 6px 15px;
	border-radius : 4px;
}

#dept-payment-form textarea , #faculty-payment-form textarea {

	height : 120px;
	resize : none;
}

#dept-payment-form button:hover , #faculty-payment-form button:hover {

	color : white;
}

#entries-table table {

	width : 1250px;
	overflow : auto;
	margin : 0px auto;
}

#entries-table > p {

	margin-top : 30px;
}

#entries-table thead th {

	font-family : 'RobotoBold';
	font-size : 13px;
	font-weight : bold;
}

#entries-table table thead th:first-child {

	width : 20%;
}

.column-amt {

	width : 10%;
}

#dept-payment-details table colgroup , #faculty-payment-details table colgroup {

	width : 20%;
}

.column-view {

	width : 10%;
	margin : 0px auto;
}

#entries-table td b {

	font-size : 81.25%;
}

table td , th {

	line-height : 2.0em;
	text-align : left;
	padding : 8px 0px;
}	

table caption {

	margin: 10px 0px;
	padding-left : 2%;
	text-align : left;
	font-size : 14px;
	font-weight : bold;
	font-family : 'RobotoBold';
}

tr:hover {

	background-color : #fbfaf8;
}

table a.request-view-button {

	border : 2px solid #ac4bd8;
	border-radius : 10px;
	background-color : #61186d;
	line-height : 2.0em;
	color : #a0a7a0;
	width : 75%;
	padding : 2px 0px;
	display : block;
	margin : 0px auto;
	text-align : center;
	font-size : 11px;
}

 table a.page-number-button {

	border : 2px solid #ac4bd8;
	border-radius : 10px;
	background-color : #61186d;
	line-height : 2.0em;
	color : #a0a7a0;
	width : 25%;
	padding : 2px 0px;
	display : block;
	margin : 0px auto;
	text-align : center;
	font-size : 11px;
}

table a.request-view-button:hover , table a.page-number-button:hover {

	color : #fff;
	background-color : #4e1269;
	border : 2px solid #ac4bd8;
}

.next {

	float : right;
	width : 21% !important;
}

.prev {

	float : left;
}


tfoot {

	margin-top : 20px;
}

.comment {

	border-bottom : 1px solid lightblue;
	padding : 10px;
	border-radius : 8px;
}

.comment:hover {

	background-color : #fdfdfd;
}

.comment p {

	line-height : 2.0em !important;
}

.comment .timestamp {

	font-style : italic;
	margin-left : 2em;
	font-size : 10px;
}

.comment b {

	font-size : 11px;
	margin-right : 10px;
}

.comment p.text {

	font-size : 12px;
}

.comment a.reply-add {

	font-size : 11px;
	background-color : purple;
	color : white;
	padding : 5px 15px;
	border-radius : 6px;
	border : 1.5px solid #ac4bd8;
}

.replies {

	margin-left : 30px;
}

.reply {

	margin-top : 20px;
}

#cr-entry-details-attachment > p {

	clear : both;
}

#cr-entry-details-attachment {

	overflow : hidden;
}

.photo-item {

	width : 20%;
	float : left;
	padding : 1%;
	margin-right : 1.5%;
	height : 210px;
	padding : 1%;
	overflow : hidden;
	opacity : 0.5;
}

.photo-item:hover {

	opacity : 1;
}

.photo-item img , .list-video-item img , .list-sound-item img {

	width : 100%;
	height : 150px;
	max-width : 150px;
}

.photo-item-photo {

	width : 150px;
	height : 150px;
}

a.entry-attachment {

	text-decoration : none;
	border : 2px double #ac4bd8;
	border-radius : 6px;
	background-color : #61186d;
	color : #a0a7a0;
	width : 100px;
	margin : 5px auto;
	padding : 2px 30px;
	display : block;
	text-align : center;
	font-size : 11px;
}

table a.request-view-button:hover {

	color : #fff;
	background-color : #4e1269;
	border : 2px double #ac4bd8;
}

.btn-primary , .btn-upload {

	background-color : #5d265f;
}

.btn-add {

	display : none;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-secondary {

	background-color : #dc8f30;
}

.btn-info {

	background-color : #888582;
}

.btn-info , .btn-add-file-1 , .btn-del-file-1 , .btn-can-file-1 {

	display : block;
	padding : 7px 30px;
	border : 2px solid inherit;
	margin-right : 0.5em;
}

.disabled {

	background-color : #171417;
	color : white;
	margin-right : 0.5em;
	text-align : center;
	display : block;
	font-size : 11px;
	width : 120px;
	line-height : 2.0em;
	padding : 0% 2.9340879234504911474798498165083%;
	border : 1.5px solid #ac4bd8;
	color : #929292;
	border-radius : 6px;
}

#file-upload-1 button , #file-upload-2 button , #file-upload-3 button , #file-upload-4 button {

	margin-bottom : 5px;
}

#upload {

	cursor : pointer;
}

#btn-del-file-1 , #btn-del-file-2 , #btn-del-file-3 , #btn-del-file-4 {

	display : none;
	cursor : pointer;
}

#btn-can-file-1 , #btn-can-file-2 , #btn-can-file-3 , #btn-can-file-4 {

	display : none;
	cursor : pointer;
}

#uploadError , #uploadError1 , #uploadText {

	margin : 5px 0px;
}

#upload-progress {

	margin : 5px 0px;
	padding-right : 5px;
	border-radius : 8px;
	display : none;
}

#upload-progress .progress-bar {

	background-color : lightgreen;
	margin-right : 5px;
}

.uploadMessage {

	display : none;
}


@media screen and (max-width : 480px) {

	#entry-detail-form , #request-form {

		width : 100%;
	}

}

@media screen and (max-width : 740px) {

.photo-item {

	width : 45%;
	float : left;
	padding : 1%;
	height : 210px;
	padding : 1%;
	overflow : hidden;
}

}


@media screen and (min-width : 740px) {

.photo-item {

	width : 20%;
	float : left;
	padding : 1%;
	height : 210px;
	padding : 1%;
	overflow : hidden;
}

}

@media screen and (max-width : 900px) {

	#nav ul li {

		display : block;
		width : 100%;
		text-align : left;
		margin-top : 10px;
	}
}

@media print {

	#nav {

		display : none;
	}

	tfoot {

		display : none;
	}

	footer {
		
		display : none;
	}
}
