* {

	border : 0;
	padding : 0;
	margin : 0;
	font-size : 12px;
	font-family : Arial;
	font-weight : normal;
	text-decoration : none;
	box-sizing : border-box;
	border-collapse : collapse;
	background-color : transparent;
}

.container {

	width : 96%;
	margin : 0 auto;
}

h1 {

	margin-top : 20px;
	font-size : 18px;
}

table {

	width : 100%;
}

td , th {

	font-size : 13.5px;
	padding : 15px 5px;
	text-align : center;
}

th {

	font-weight : bold;
}

.article p {

	margin: 20px 0px;
	line-height : 2.0; 
}

form {

	padding : 10px;
	height : 100%;
}

form input , form label {

	display : inline-block;
}

form label {

	width : 28%;
	font-weight : bold;
	font-size : 14px;
}

form input , form textarea , form select {

	width : 70%;
	padding : 10px 15px;
	border : 2px dotted purple;
	border-radius : 6px;
}

form input:focus , form textarea:focus {

	border : 2px dotted purple;
}

form textarea {

	width : 70%;
	height : 90px;
	resize : none;
}

form button {

	float : right;
	margin: 0 0 15px 0;
	padding : 10px 35px;
	border : 2px solid #f76b83;
	border-radius : 6px;
	background-color : #500d50;
	color : white;
	transition-property : background-color;
	transition-duration : 2s;
}

form button span {

	opacity : 0.5;
}

form button:hover {

	transition-property : background-color;
	transition-duration : 2s;
	background-color : purple;
}

form button:hover span {

	transition-property : opacity;
	transition-duration : 2s;
	opacity : 1;
}

.form-group.message label {

	vertical-align : top;
}

form .form-group {

	margin-bottom : 25px;
}

.request-list , .payment-list {

	padding-left : 11%;
	overflow : hidden;
	padding-top : 20px;
}

.request , .payment {

	height : 100px;
	width : 42%;
	margin : 0 25px 40px 0;
	float : left;
	border : 2px solid #f76b83;
	border-radius : 6px;
	background-color : #500d50;
	overflow : hidden;
}

.request a , .payment a {

	display : block;
	height : 100%;
	padding : 40px 3px;
	text-align : center;
	color : white;
	opacity : 0.5;
	background-color : #500d50;
	transition-property : opacity background-color;
	transition-duration : 2s;
}

.request a:hover , .payment a:hover {
	transition : background-color 0.6s;
	background-color : purple;
	opacity : 1;
}



.course-registration .request-form {

	width : 90%;
	margin : 0 auto;
	overflow : hidden;
	margin-top : 30px;
}

.semester-school-result .request-form {

	width : 90%;
	margin : 0 auto;
	overflow : hidden;
	margin-top : 30px;
}

.school-internet-credential .request-form {

	width : 90%;
	margin : 0 auto;
	overflow : hidden;
	margin-top : 30px;
}

.school-internet-password .request-form {

	width : 90%;
	margin : 0 auto;
	overflow : hidden;
	margin-top : 30px;
}

.school-email-password .request-form {

	width : 90%;
	margin : 0 auto;
	overflow : hidden;
	margin-top : 30px;
}

.logo {

margin : 0px auto;
width : 20%;
}

.logo img {

width : 120px;
height : 120px;
}

p {
	font-size : 12px;
	margin: 15px 0px;
}

p b {
	
	font-weight : bold;
}

hr {

	border : 1px solid black;
}

span.val {

	float : right;
	display : inline-block;
}

span.val-b {

	font-weight : bold;
}

.resolution a {

	border : 2px solid #946694;
	border-radius : 8px;
	background-color : #523838;
	padding : 5px 30px;
	color : white;
	display : inline-block;
	font-size : 10px;
	margin-right : 35px;
}

.resolution a:hover {

	background-color : #652665;
}

.course-registration  {

	margin-top : 20px;
}

@media screen and (max-width : 480px) {

	.request {

			float : none;
			width : 100%;
			height : 100px;
	}

	.request a {

		padding : 18px 3px;
	}

	.request-list {

		padding-left : 0;
 	}
}

