* {

	margin : 0;
	padding : 0;
	font-family : Arial;
	font-size : 13.5px;
	text-decoration : none !important;
	line-height : 2.5em;
	box-sizing : border-box;
	overflow-wrap : break-word
}

h1 {

	font-size : 18px;
	font-weight : normal;
}

textarea {

	resize : none;
}

#moreMisc-1 , #moreRich-1 , #moreText-1 {

	display : none;
}


h2 span, h3 span, h4 span, h5 span, h6 span  , h2 a , h3 a , h4 a , h5 a , h6 a , h2 i , h3 i , h4 i , h5 i , h6 i {

		font-weight : bold !important;
}


h2 , h2 span , h2 a {

	font-size : 14px !important;
}

p span {

	font-size : 13.5px !important;
}

img {

	max-width : 100%;
	max-height : auto;
	margin : auto;
}

a {

	color : #007bff;
}

u {

	text-decoration: underline;
}

.container {

	width : 96%;
	margin : 0px auto;
	padding : 1%;
}

.footer {

	text-align : center;
	position : relative;
	bottom : -150px;
}

.ethnic-list {

		overflow : hidden;
}

.ethnic-list ul {

	list-style-type: none;
}

.ethnic-list ul li {

	display : inline-block;
}

.ethnic-list .ethnic-list-item {

	float : left;
	width : 18%;
	padding : 0.5em;
}

.list-photo img {

	width : 150px;
	height : 150px;
}

.list-photo , .list-posts {

	padding : 1%;
}

.main::after {

	content : "";
	clear : both;
	display : block;
}

.list-photo-detail {

	float : left;
	width : 25%;
	margin : 0 1.5% 2% 0;
	padding : 1%;
}

.list-posts-item {

	float : left;
	width : 30%;
	margin : 0 1.5% 2% 0;
	padding : 1%;
	height : auto;
	overflow : hidden;
}


.list-photo-photo {

	margin-bottom : 0.5em; 
}

.photo-detail {

	padding : 1em;
}

.photo-photo-detail {

	text-align : center;
	width : 500px;
	margin : 0px auto;
}

.art-individual img {

	width : 300px;
	display : block;
	height : 400px;
}

.like {

	background-color: transparent;
	color : gray;
	border-radius : 8px;
	padding : 5px 10px;
	text-align : center;
	border : 2px solid lightblue;
	width : 100%;
}

p #pvalue , p #plvalue {

	display : none;
}

input , label {

	display : block;
}

textarea , select , input {

	width : 100%;
	line-height : 2.0;
	padding : 6px 20px;
	border : 0.5px double lightgray;
	border-radius : 8px;
	margin-bottom : .5em;
}

input {

	line-height : 1.8;
}

button {

	line-height : 2.5;
}

select {

	height : 35px;
}

textarea {

	height : 200px;
	resize : none;
}

.btn {

	margin-top : 1em;
	border-radius : 8px;
	padding : 0px 25px;
	color : white;
}

.float-right {

	float : right;
}

.btn-primary {

	background-color : #007bff;
}

.btn-secondary {

	background-color : #dc8f30;
}

.btn-info {

	background-color : #888582;
}

.btn-info , .btn-primary , .btn-secondary {

	padding : 2px 20px;
	border : 2px solid inherit;
	margin-right : 1em;
}

@media screen and (max-width : 1100px) {

.list-posts-item {

	float : none;
	width : 100%;
}

}

@media screen and (max-width : 800px) {

	.list-photo-detail {

		width : 45%;
	}

.ethnic-list .ethnic-list-item {

	float : left;
	width : 30%;
}

}

@media screen and (max-width : 480px) {

	.list-photo-detail {

	float : none;
	width : 100%;
	margin : 0 0 2% 0;
	padding : 1%;
	overflow : auto;
}

	.list-photo-photo {

	float : left;
}

.ethnic-list .ethnic-list-item {

	float : left;
	width : 40%;
}

.list-posts-item {

	float : none;
	width : 100%;
}

h1 , h1 span {

	font-weight : bold;
	margin-bottom : 2em;
}

}

