h1 {

	font-size : 18px !important;
	font-weight : normal;
}

p , label , select , form , .form-control-sm {

	font-size : 0.75rem;
}

h2 span, h3 span, h4 span, h5 span, h6 span  , h2 a , h3 a , h4 a , h5 a , h6 a {

		font-weight : bold !important;
}

h2 {

	font-size : 14px;
}

.intLink {

	cursor: pointer;
}

img.intLink {

	border: 0; 
}

#toolBar1 select {

	font-size:10px;
}

#editMode label {

	cursor: pointer;
}

button {

	background : none;
	border : none;
	padding : 0;
}

#textEditor select {

	width : auto;
	font-size : 11px;
	display : inline-block;
}

.custom-select {
    
  width: auto;
}

#textBox {

	font-size : 0.75rem;
	margin : 0.5rem 0;
	height : 400px;
	overflow : auto;
}

#pvalue , #plvalue {

	display : none;
}

#editMode {

	display : none;
}

	