/* You can add global styles to this file, and also import other style files */
@font-face {

font-family: 'RobotoThin';
src : url(../fonts/Roboto-Thin.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoRegular';
src : url(../fonts/Roboto-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoMedium';
src : url(../fonts/Roboto-Medium.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoLight';
src : url(../fonts/Roboto-Light.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoBold';
src : url(../fonts/Roboto-Bold.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoBlack';
src : url(../fonts/Roboto-Black.ttf) format('truetype');

}

@font-face {

font-family: 'Pacific';
src : url(../fonts/pacific.ttf) format('truetype');

}

@font-face {

font-family: 'Quicksand';
src : url(../fonts/Quicksand.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoThin';
src : url(../fonts/Roboto-Thin.ttf) format('truetype');

}

@font-face {

font-family: 'InconsolataBold';
src : url(../fonts/inconsolata-bold.ttf) format('truetype');

}

@font-face {

font-family: 'Inconsolata';
src : url(../fonts/Inconsolata-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'Indie';
src : url(../fonts/indieflower.ttf) format('truetype');

}

@font-face {

font-family: 'Inter';
src : url(../fonts/Inter.ttf) format('truetype');

}

@font-face {

font-family: 'ComicRegular';
src : url(../fonts/ComicNeue-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'ComicBold';
src : url(../fonts/ComicNeue-Bold.ttf) format('truetype');

}

@font-face {

font-family: 'ComicLight';
src : url(../fonts/ComicNeue-Light.ttf) format('truetype');

}

@font-face {

font-family: 'ComicRegular';
src : url(../fonts/ComicNeue-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'Hind';
src : url(../fonts/Hind/Hind-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'HindBold';
src : url(../fonts/Hind/Hind-Bold.ttf) format('truetype');

}

@font-face {

font-family: 'Josefin';
src : url(../fonts/Jose/JosefinSans-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'JosefinLight';
src : url(../fonts/Jose/JosefinSans-Light.ttf) format('truetype');

}

@font-face {

font-family: 'JosefinThin';
src : url(../fonts/Jose/JosefinSans-Thin.ttf) format('truetype');

}

@font-face {

font-family: 'LatoLight';
src : url(../fonts/Lato/Lato-Light.ttf) format('truetype');

}

@font-face {

font-family: 'Lato';
src : url(../fonts/Lato/Lato-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'LatoBlack';
src : url(../fonts/Lato/Lato-Black.ttf) format('truetype');

}

@font-face {

font-family: 'Dosis';
src : url(../fonts/Dosis/Dosis-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'DosisSemi';
src : url(../fonts/Dosis/Dosis-SemiBold.ttf) format('truetype');

}

@font-face {

font-family: 'DosisLight';
src : url(../fonts/Dosis/Dosis-Light.ttf) format('truetype');

}

@font-face {

font-family: 'Libre';
src : url(../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf) format('truetype');

}

* {

	font-family : 'RobotoRegular';
	font-size : 100%;
	box-sizing : border-box;
	background-color : none;
	box-shadow : none;
		margin : 0;
	border : 0;
	padding : 0;
	line-height : 2.0em;
	text-decoration : none;
	border-collapse : collapse;
}

.container {

	width : 86%;
	margin : 10px auto;
	padding : 10px;
}

.logo {

margin : 0px auto;
width : 20%;
}

.logo img {

width : 120px;
height : 120px;
}

h1 , h2 , h3 {

	font-family : 'Libre';
}

p , label , input , textarea , select , li {

	font-size : 13px;
}

label , input {

	display : block;
}

input , textarea , select {

	padding : 2px 7px;
	border : 2px solid #e6abe65c;
	border-radius : 8px;
	width : 100%;
	resize : none;
}

select {

	height : 35px;
}

textarea {

	height : 100px;
}

.error-section {

	margin-top : 2%;
}

.error-section p {

	margin-bottom : 20px;
}

ul.errors {

	padding-left : 10px;
}

ul.errors li {

	list-style-type : square;
	list-style-position: inside;
	margin-bottom : 10px;
}

.form-group {

	margin-bottom : 15px;
}

.main {

	overflow : hidden;
}

button::before , button::after {

	content : '';
	display : block;
	clear : both;
}

.btn-primary {

	margin-right : 1%;
	padding : 2px 35px;
	border : 2px solid black;
	background-color : #5d265f;
	border : 1px solid #ac4bd8;
	font-size : smaller;
	color : white;
	border-radius : 6px;
}

.btn-primary:hover {

	color : #fff;
	background-color : #4e1269;
	border : 1px double #ac4bd8;
}

.float-right {

	float : right;
}