/* You can add global styles to this file, and also import other style files */
@font-face {

font-family: 'RobotoThin';
src : url(../../fonts/Roboto-Thin.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoRegular';
src : url(../../fonts/Roboto-Regular.ttf) format('truetype');

}

@font-face {

font-family: 'RobotoBold';
src : url(../../fonts/Roboto-Bold.ttf) format('truetype');

}



@font-face {

font-family: 'Libre';
src : url(../../fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf) format('truetype');

}

* {

	font-family : 'RobotoRegular';
	font-size : 100%;
	box-sizing : border-box;
	margin : 0;
	border : 0;
	padding : 0;
	text-decoration : none;
	border-collapse : collapse;
}

.container {

	width : 80%;
	margin : 0px auto;
	padding : 0.87847730600292825768667642752562%;
}

.container .nav ul {

	list-style-type : none;
} 

.footer p {

	font-size : 12px;
	text-align : center;
}

.cr-entry {

	width : 80%;
	margin : 0px auto;
	padding : 0.87847730600292825768667642752562%;
}

.nav li {

	font-size : 12px;
	display : inline-block;
	margin-right : 20px;
	width : 170px;
}

.nav li a {

	display : inline-block;
	width : 100%;
	border : 1px solid #ac4bd8;
	border-radius : 6px;
	background-color : #61186d;
	padding : 2px 0px;
	color : white;
	text-align : center;
	font-size : 11px;
}

.logo {

margin : 0px auto;
width : 20%;
}

.logo img {

width : 120px;
height : 120px;
}

h1 {

	text-align : left;
}

h1 , h2 , h3 {

	margin : 20px 0px 10px;
	font-family : 'Libre';
}

p , label , b , i , span , select , legend , li , textarea , td , th {

	line-height : 2.5em;
	font-size : 13px;
}

legend , b {

	font-weight : bold;
	font-family: 'RobotoBold';
}

legend {

	text-align : center;
}

small b {

	font-size : 11px;
}

ul.errors {

	padding-left : 35px;
	padding-bottom : 10px; 
}


div.cr-set-app-review {

	width : 70%;
	margin : 0px auto 0px;
	padding : 1.3577663385963751033175323275679% 2.0366495078945626549762984913519%;
}

div.cr-set-app-review p {

	text-align : center;
	font-size : 11px;
	margin : 10px auto 10px;
}

div.cr-set-app-review p a , div.cr-set-app-review button {

	display : inline-block;
	font-size : 11px;
	width : 100%;
	padding : 0% 2.9340879234504911474798498165083%;
	background-color : #5d265f;
	border : 2px solid #ac4bd8;
	color : #929292;
	border-radius : 6px;
}

 div.cr-set-app-review button {

 	line-height : 2.0em;
 }

.form {

	width : 95%;
	margin : 0.67226890756302521008403361344538% auto;
	overflow : hidden;
}

.form textarea {

	width : 100%;
	resize : none;
	height : 235px;
	border-radius : 6px;
	line-height : 2.0em;
}

.form label , input {

	display : block;
	margin : 5px 0 10px;
}

.form input {

	width : 100%;
	font-size : 12px;
}

.form label {

	padding-left : 10px;
	font-weight : bold;
	font-family : 'RobotoBold';
}

.form input[type=text] , .form textarea {

	border : 2px solid #ac4bd8;
	padding : 10px;
}

.form input[type=text] {

	border-radius : 6px;
	padding : 6px;
}

.form textarea:hover {

	border : 2px solid #4e1269;
}

.form button {

	font-size : 11px;
	float : right;
	margin-right : 0.15432098765432098765432098765432%;
	padding : 0.61728395061728395061728395061728% 2.9340879234504911474798498165083%;
	background-color : #5d265f;
	border : 2px solid #ac4bd8;
	font-size : small;
	color : white;
	border-radius : 6px;
}

.form button:hover {

	background-color : #4e1269;
	color : white;
}

.form-group {

	margin-bottom : 0.67226890756302521008403361344538%;
}

.form .form-group select {

	width : 100%;
	border : 2px solid #ac4bd8;
	border-radius : 6px;
	height : 35px;
	padding-left : 10px;
}

.form-group p {

	clear : both;
}

.comment-author {

	color : #007bff;
}

.comment {

	border-bottom : 1px solid lightblue;
	padding : 10px;
	border-radius : 8px;
}

.replies {

	margin-left : 30px;
}

.comment:hover {

	background-color : #fdfdfd;
}

.reply {

	margin-top : 20px;
}

.comment p {

	line-height : 2.0;
	font-size : 12px !important;
}

.comment p.author {

	font-weight : normal;
}

.comment .timestamp {

	font-style : italic;
	margin-left : 2em;
	font-size : 10px !important;
}

.comment p.text small a {

	margin-left : 10px;
}

.comment-add h2 , .reply-add h2 {

	margin-top : 10px;
}

.comment-add textarea {

	border : 1px solid #eae8e8;
	border-radius : 4px;
}

